.tabs{

    margin-left:200px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(243, 244, 234);
    height: 120vh;
    

}

.image{
    max-width: 1000px;
}

LI{
    font-size: 1.5em;
}