.navigation{
    background-color:rgb(255, 255, 255);
}

.tabs{

    display: flex;
    margin-left:110px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(174, 182, 96);
    height: 120vh;
    

}

.image{
    width: 100vh;
}

Li{
    font-size: 1.5em;
    color: rgb(174, 182, 96)
}



.cta{
    color: rgb(174, 182, 96)
}

.texte{
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: white;
}

.paragraphe{
    margin: 20px;
}

footer{
    padding: 20px;
    text-align: end;
}

.mention{
    color: black;
}