.navigation{
    background-color:rgb(255, 50, 74);
}

.projet{
    
    display: flex;
    flex-direction: column;
    padding-left: 35%;
    padding-right: 8%;
    justify-content: center;
    min-height: 100vh;
}

.tab{
    margin-bottom: 50px;
}


.rose{
    background: rgba(105, 107, 206, 0.107);
    
}

.couleurtitre {
    color: #ffffff;
}

.description{
    margin-top: 10px;
    color: white;
    padding: 10px;
}


.autrepage{
    text-decoration: none;
    display: inline-block;

    padding-left: 5px;
    padding-right: 5px;
    font-size: 2em;
    font-weight:bold;
    color: #f23763;
}

.selected .autrepage {
    color:#ffffff;
    background-color: #f23763;
}
  
.autrepage:hover{
    opacity: 60%;
}

.image{
    padding-top: 10px ;
}

.strasbourg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.strasbourg .image{
    object-fit: contain;
    max-height: 45vh;
}

.couple{
    display: flex;
    justify-content: center;
}
.couple .image{
    max-height: 80vh;
}

.murner{
    display: flex;
    justify-content: center;
}

.corse{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.corse .image{
    width: 20vw;
}


.murner .image{
    width: 60vw;
}

.perso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.perso .image{
    max-width: 25vw;
    height: 35vh;
    object-fit: contain;
}

.fin{
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 35%;
    padding-right: 8%;
    justify-content: center;
}


.cta{
    color: rgb(255, 255, 255);
  }


  @media (max-width:1200px) {

    .nom{
        display: none;
    }

    .logo{
        max-height: 80px;
        object-fit: contain;
    }

    .projet{
        
        padding-left: 0%;
        padding-right: 0%;
        justify-content: center;
        min-height: 150vh;
    }

    .rose{
        width: 1000px;
    }
    

  
}  