main{
  display: flex;
  flex-direction: row;
    
}
  
body{
  background-color: rgb(255, 255, 255);
}
  
.accueil{    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top:10px ;
  padding-bottom: 20px;
  height: 98vh;
  background-color:rgb(255,255,255);
  width: 70%;

} 
  
  
.presentation{
  
  align-items: center;
  justify-content: center;
  padding: 30px;
   
}
  
.menu{
  z-index: 1;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  grid-gap: 10px;
  justify-content: center;
    
} 
  
.menu img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: #696bceff;
}
  
.lien-projets{
  position: relative;
}
  
.big{
  font-size: 3em;
}
  
  
.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items:center;
  justify-content: center;
    
    
  font-size: 1em;
    
  color: white;
  background-color: rgba(105, 107, 206, 0.579);
  display: none;
  padding: 20px;
}
    
.lien-projets:hover .photo-hover {
  display: flex;
}
    

h1,p,a{
  color: #696bceff
}

.cta{
  color: #696bceff;
}


.prestel{
  display: none;
}

@media (orientation : portrait) {

  main{
    display: flex;
    flex-direction: column;
  }

  .prestel{
    display:unset;
    padding: 30px;
  }

  .presentation{
    display: none;
    text-align: center;
  }

    

}