
  
body{
  background-color: rgb(255, 255, 255);
}
 

h1,h2,p,a{
  color: #696bceff
}

h2{
  margin-bottom: 10px;
  margin-top: 20px;
}
.cta{
  color: rgb(12, 13, 91);
}

.texte{
  display: flex;
  flex-direction: column;
  padding: 40px; 
  margin-left:400px;
  padding-left: 8%;
  padding-right: 8%;
}



@media (orientation : portrait) {

  main{
    display: flex;
    flex-direction: column;
  }
    
}