
  
body{
  background-color: rgb(255, 255, 255);
}
 

h1,p,a{
  color: #696bceff
}

.cta{
  color: #696bceff;
}

.texte{
    display: flex;
    flex-direction: column;
    padding: 40px; 
    margin-left:110px;
    padding-left: 8%;
    padding-right: 8%;
}



@media (orientation : portrait) {

  main{
    display: flex;
    flex-direction: column;
  }
    
}