 *{
    margin: 0;
  }


body{
  background-color: rgb(255, 255, 255);
}

.bouton{
  display: inline-block;
  border:solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 20px 20px;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}


.navigation {
  position: fixed;
  top: 0;
  z-index: 2000;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  width: 350px;
  height: 100%;

}  

.navigation ul {
  width: 100%;
  list-style: none;
  margin: 0;
  border: 0;
  padding: 0;
}

.navigation ul li{
  margin: 30px 5px 30px 5px;
  padding-left: 20px;
}

.navigation p{
  display: none;
}

.navigation .selected p{
  display: flex;
}

.navigation .selected a {
  
  font-size: 200%;
  font-weight: 220%;
}

.selected{
 
  border-radius: 35px;
  padding: 20px;
  border-color: rgba(255, 255, 255, 0.249);
  background-color: rgba(255, 255, 255, 0.166);

}

.ancre{
  height: 100px;
}


.logoettexte{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
}
  
  
.cta{
  text-decoration: none;
  margin-bottom: 50px;
  
}

.cta:hover{
  opacity: 0.3;
}


.logo {
  width: 60px;
  padding: 10px;
}

.logo:hover {
  opacity: 0.5;
}



h1,h2,h3,p,a, li{
  font-family: 'IBM Plex Sans', sans-serif;
  text-justify: auto;
  text-decoration: none;
}

h1{
  padding-bottom: 30px;
}

footer{
  padding: 10px;
  text-align: end;
}


@media (orientation : portrait) {

  ul, h1{
    display: none;
  }
  .navigation, .accueil{
    flex-direction: row;
    width: 100%;
    height:100px;
    
  }

  
}